<h1>Start a job for Target #<%= h(@target.id) %>, <%= h(@target.name) %></h1>

<%= form_tag startjob_target_path(@target), :method => :post do %>
<fieldset>
 <legend>Start here</legend>

 <table>
   <tr>
       <td><label for="job_configuration">Configuration</label></td>
       <td><%= select 'configuration', :id, @configurations.map{|c| [c.name,c.id]} %></td>
       <td><label for="job_task">Task</label></td>
       <td><%= select 'task', :id, @tasks.map{|t| [t.name,t.id]} %></td>
       <td><label for="job_options">Options</label></td>
       <td><%= text_field 'job', 'options' %></td>
</tr>
<tr><td>   <button type="submit">Save</button></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
</tr>
</table>
</fieldset>

<% end %>


