<% if @user.blank? %>
 <p>No user info</p>
 <%= link_to 'Login', '/users/login/' %> 
<% else %>

  <%= form_tag :action => 'do_update' do %>
  <fieldset>
  <legend>Update User Info</legend>
  
  <table>
    <tr><td><label for="user_name">Name</label></td><td>
      <%= text_field 'user', 'name' %></td></tr>
    <tr><td><label for="user_email">Email</label></td><td>
      <%= text_field 'user', 'email' %></td></tr>
      <%= hidden_field 'user', 'guid' %></td></tr>
  
    <tr><td><label for="user_password">Password</label></td><td>
      <%= password_field 'user', 'password' %></td></tr>
    <tr><td><label for="user_is_admin">Is Admin</label></td><td>
    <input type="checkbox" id="user_is_admin" name="user[is_admin]" <%= (@user.is_admin) ? 'checked' : '' %> >
    <input type="hidden" name="admin_update" value='1'>
    </td></tr>
  
  </table>
  
  </fieldset>
  
  <fieldset>
    <button type="submit">Change</button>
    <%= link_to 'Cancel', '/users/' %>
  </fieldset>
  <% end %>
  <hr>
  <%= form_tag "/users/destroy/#{@user.id}" do %>
    <button type="submit" onclick="return confirm('Are you sure you want to delete?')" >Delete</button>
  <% end %>

<% end %>

