<h1>Pipeline #<%= h(@pipeline.id) %> <%= h(@pipeline.name) %> </h1>

<%= form_tag pipeline_path(@pipeline), :method => :put do %>
 <%= render :partial => 'pipelines/form' %>

 <fieldset>
   <button type="submit">Update</button>
   <%= link_to 'Cancel', pipelines_path %>
 </fieldset>
<% end %>
