<h1>Data Product <%= @data_product.id %></h1>

<%= form_tag "/targets/#{@target.id}/configurations/#{@conf.id}/data_products/#{@data_product.id}", :method => 'delete' do %>
<button type="submit" onclick="return confirm('Are you sure you want to DELETE data_product <%= @data_product.id %>?')" >Delete</button>
<% end %>
<hr/>


<%= form_tag target_configuration_data_products_path(@target, @conf), :method => :post do %>

  <fieldset>
    <legend><%= @target.name %>, <%=@conf.name %> </legend>

    <table>
      <tr>
        <td><label for="relativepath">Relative path</label></td><td><%= text_field 'data_product', 'relativepath' %></td>
      </tr><tr>
        <td><label for="filename">File name </label></td><td><%= text_field 'data_product', 'filename' %></td>
      </tr><tr>
        <td><label for="data_type">Type (image|table|datafile|other) </label></td><td><%= text_field 'data_product', 'data_type' %></td>
      </tr><tr>
        <td><label for="subtype"> Subtype (science|drizzle) </label></td><td><%= text_field 'data_product', 'subtype' %></td>
      </tr><tr>
        <td><label for="group">Group(raw|prod|log) </label></td><td><%= text_field 'data_product', 'group' %></td>
      </tr><tr>
        <td><label for="ra">RA </label></td><td><%= text_field 'data_product', 'ra' %></td>
      </tr><tr>
        <td><label for="dec">DEC </label></td><td><%= text_field 'data_product', 'dec' %></td>
      </tr><tr>
        <td><label for="pointing_angle">PA </label></td><td><%= text_field 'data_product', 'pointing_angle' %></td>
      </tr><tr>
        <td><label for="s3bucket">Bucket </label></td><td><%= text_field 'data_product', 's3bucket' %></td>
      </tr><tr>
        <td><label for="s3objectid">S3ObjId </label></td><td><%= text_field 'data_product', 's3objectid' %></td>
      </tr><tr>
        <td><label for="s3region">Region </label></td><td><%= text_field 'data_product', 's3region' %></td>
      </tr>
      <tr>
        <td><label for="lock">Lock </label></td><td><%= text_field 'data_product', 'locktype' %> G:<%= text_field 'data_product', 'lockgranted' %> E:<%= text_field 'data_product', 'lockexpire' %></td>
      </tr>
      <tr>
        <td><label for="Filter">Filter </label></td><td><%= @data_product.filtername %></td>
      </tr>
      <tr><td><label for="data_product_options">Parameters:</label></td><td>
      <table>
        <% @data_product.options.each do |p| %>
        <tr><td><%= p.id %></td><td><%= p.name %></td><td>:</td><td><%= p.value %></td></tr>
        <% end %>
      </table>
      </td></tr>


      <tr>
        <td>   <%= link_to 'Data Products Index', "/targets/#{@target.id}/configurations/#{@conf.id}/data_products" %></td>
        <td></td>
      </tr>
    </table>
  </fieldset>

<% end %>
